.highlights img{
    height: 630px !important;
  }

.highlights-title{
  padding-bottom: 20em !important;
}

.highlights-title h1{
    font-size: 5em ;
  }

  .btn-seeker{
    font-weight: bold;
    font-size: 20px;
    background-color: #EE6422;
    height: 60px;
    width: 200px;
  }

  .btn-maker{
    font-weight: bold;
    font-size: 20px;
    background-color: #EA9B25;
    height: 60px;
    width: 200px;
  }

  .btn-maker:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

  .btn-seeker:hover{
    background-color: #f18903;
  }

  .sign-up{
    background-color: #f0f0f0;
    height: 60px;
    text-align: center;
    padding-top: 20px;
  }

  .sign-up a{
    text-decoration: none;
  }

  .square, .info{
    text-align: center;
  }

  .info i{
    margin-right: 10px;
    opacity: 0.5;
  }

  .info i:hover{
    cursor: pointer;
    transform: scale(1.1);
  }

  .info{
    padding-top: 15px;
    margin-bottom: 15px;
    color: #2242a4;
  }
  i{
    color: #243f8a;
  }

  .square:hover{
    transform: scale(1.05);
  }


  @media only screen and (max-width: 990px) {

    .highlights img{
      min-height: 0px !important;
    }
  }

  @media only screen and (max-width: 768px) {

    .highlights .btn{
      margin-bottom: 10px;
    }

    .highlights img{
      height: 450px !important;
    }
    .carousel-item .carousel-caption{
      margin-bottom: 150px !important;
    }

    .navbar-brand {
      padding-left: 10px;
    }
    .sign-up{
      height: 75px;
    }
  }

  .carousel-item {
  background: url(http://www.educabellos.com/includes/img/bg-about.jpg) no-repeat top left / cover;
  overflow-x: -1;
}

