nav.main {
  background-color: #181618;
  min-height: 65px;
  z-index: 1;
}

.nav-item a {
  color: #EA9B25 !important;
}

.nav-link {
  text-transform: uppercase;
}

.btn-primary{
  background-color: #D66C44;
  border: none;
  color: #FFFFFF !important;
  font-weight: bold;
}

.btn-primary:hover{
  background-color: #c95b30;
}

a.nav-link:hover {
  border-top: 2px solid #2D3D19;
  border-bottom: 2px solid #2D3D19;
}

.navbar-brand {
  transform: scale(1.5);
  padding-right: 2em;
  color: #6da768 !important;
}

nav form .btn-search:hover {
  background-color: #E99A24;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #EA9B25;
  padding: 10px;
  text-align: center;
  align-content: right;
}

.dropdown-menu a{
  color: #FFFFFF !important;
}

.dropdown-menu a:hover{
  background-color: #ECB021 !important;
}

@media only screen and (max-width: 990px) {
  a.nav-link:hover {
    transform: scale(1);
  }
  .navbar-brand {
    padding-left: 15px;
  }
  nav input {
    width: 100% !important;
    margin-bottom: 10px;
  }
  nav form button {
    width: 100% !important;
  }
}

/*nav.navbar{
  background-color: #1d2326;
  padding-bottom: 0;
  padding-top: 0;
}

a.navbar-brand{
  color: #6da768 !important;
  font-size: 1.75em;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-header{
  font-size: 1em;
}

@media only screen and (max-width: 990px) {
  a.nav-link:hover {
    transform: scale(1);
  }
  .navbar-brand {
    padding-left: 15px;
  }
  nav input {
    width: 100% !important;
    margin-bottom: 10px;
  }
  nav form button {
    width: 100% !important;
  }
}*/